@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.card-shadow {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
}
